pip
autopep8
Flask==3.0.3
gunicorn==22.0.0
Werkzeug==3.0.6
flask-cors==4.0.0  # For handling Cross-Origin Resource Sharing
python-dotenv==1.0.0  # For managing environment variables
flask-wtf==1.1.1  # For form handling and validation
Jinja2==3.1.2  # For HTML templating (ensures compatibility)